.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.flexelement {
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
}

.items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
